*{
    margin: 0;
    padding: 0;
    -webkit-transition: 0.22s all ease-in-out;
}

body{
    background-color: #F0F6FF;
    font-family: "Mulish";
    font-size: 16px;
    line-height: 1.6;
    color: #485768;

    @media (max-width: 991px){
        font-size: 14px;
    }
}

h1, h2, h3, h4, h5, h6{
    color: #1D242F;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

a{
    text-decoration: none;
    color: #485768;

    &:hover{
        color: #4FBBEF;
    }
}

.form-control{
    box-shadow: none !important;
}

.theme-btn{
    background: #4FBBEF;
    color: #00405F;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid #4FBBEF;
    padding: 6px 35px;
    border-radius: 10px;
    -webkit-transition: 0.2s all ease-in-out;

    @media (max-width: 767px){
        font-size: 16px;
    }

    &:hover{
        background: transparent;
        color: #4FBBEF;
    }
}

.form-group{
    label{
        font-size: 16px;
        color: #1D242F;
        margin-bottom: 4px;

        @media (max-width: 991px){
            font-size: 14px;
        }
    }
    .form-control{
        border: none;
        border-bottom: 1px solid #485768;
        color: #1D242F;
        font-size: 18px;
        border-radius: 0;
        padding: 5px 0;

        @media (max-width: 991px){
            font-size: 16px;
        }

        &::placeholder{
            color: #1D242F;
            opacity: 1 !important;
        }
    }
}

.se-panel-outer{
    &.flex-panel{
        display: flex;
        align-items: center;
    }
    .left-aside{
        min-height: 100vh;
        max-width: 620px;
        width: 100%;
        background: #fff;

        @media (max-width: 1366px){
            max-width: 500px;
        }

        @media (max-width: 1200px){
            max-width: 450px;
        }

        @media (max-width: 991px){
            position: absolute;
            max-width: fit-content;
            width: auto;
            background-color: transparent;   
            top: 0;
            min-height: auto;
            left: 50%;
            transform: translateX(-50%);
        }
        

        .logo-wrapper{
            padding: 42px 30px 0 30px;

            @media (max-width: 991px){
                padding-top: 30px;
                img{
                    max-width: 100px;
                }
            }
        }

        .left-graphic-wrapper{
            height: calc(100vh - 95px);
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                max-width: calc(100% - 100px);
            }

            @media (max-width: 991px){
                display: none;
            }
        }
    }
    .right-form{
        min-height: 100vh;
        max-width: calc(100% - 620px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        @media (max-width: 1366px){
            max-width: calc(100% - 500px);    
        }

        @media (max-width: 1200px){
            max-width: calc(100% - 450px);    
        }

        @media (max-width: 991px){
            max-width: 100%;
            padding-top: 100px;
            align-items: flex-start;
        }

        .form-wrapper{
            max-width: 684px;
            width: 100%;
            border-radius: 10px;
            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
            background: #fff;
            min-height: 88vh;

            @media (max-width: 991px){
                min-height: 65vh;
            }

            .form-group{
                margin-bottom: 50px;

                @media (max-width: 1366px){
                    margin-bottom: 40px;
                }

                &:last-of-type{
                    margin-bottom: 0;
                }

                &.type-password{
                    position: relative;

                    input{
                        padding-right: 40px;
                    }

                    .show-pass{
                        position: absolute;
                        bottom: 6px;
                        right: 0;

                        button{
                            border: none;
                            background: transparent;
                            padding: 0;
                        }
                    }
                }
            }
            .forgot-pass{
                float: right;
                margin-top: 14px;
                color: #485768;
                text-decoration: none;
                position: relative;
                display: inline-block;
                padding-right: 16px;
                font-weight: 700;

                &::after{
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 40%;
                    transform: rotate(45deg) translateY(-50%);
                    width: 12px;
                    height: 12px;
                    border-right: 2px solid #485768;
                    border-top: 2px solid #485768;
                    -webkit-transition: 0.2s all ease-in-out;
                }

                &:hover{
                    color: #4FBBEF;

                    &::after{
                        border-color: #4FBBEF;
                    }
                }
            }

            .form-header{
                padding: 32px 25px 20px;
                border-bottom: 1px solid #DBE1E8;

                @media (max-width: 991px){
                    padding: 24px 15px 15px;
                }

                .form-title{
                    font-weight: 700;
                    font-size: 24px;
                    text-align: center;

                    @media (max-width: 991px){
                        font-size: 18px;
                    }
                }
            }
            .form-body{
                padding: 45px 24px 24px;
                min-height: calc(88vh - 180px);

                @media (max-width: 991px){
                    min-height: calc(78vh - 110px);
                    padding: 45px 18px 20px;
                }

                .instruction{
                    padding-top: 10px;    
                    display: inline-block;
                }

                &.has-tagline{
                    padding-top: 24px;
                }

                .form-tagline{
                    margin-bottom: 50px;

                    @media (max-width: 1366px){
                        margin-bottom: 40px;
                    }

                    @media (max-width: 991px){
                        margin-bottom: 30px;
                    }

                    p{
                        font-weight: 600;
                        font-size: 18px;
                        color: #1D242F;

                        @media (max-width: 991px){
                            font-size: 15px;
                        }
                    }
                }
            }
            .form-footer{
                padding: 24px;
                position: relative;

                @media (max-width: 991px){
                    padding: 20px 18px 24px;
                }

                &::before{
                    content: '';
                    position: absolute;
                    left: 24px;
                    right: 24px;
                    border-top: 1px solid #A1AAB4;
                    top: -2px;
                }

                .submit-form{
                    display: block;
                    width: 100%;
                }

            }
        }
    }
}


/* left panel */

.b2c-left-panel{
    position: fixed;
    left: 0;
    top: 0px;
    width: 55px;
    height: 100%;
    text-align: center;
    padding: 16px 8px;
    z-index: 9;
    padding: 30px 9px 40px;
    z-index: 999;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    overflow-x: hidden;
    background: #F8FBFF;
    box-shadow: 0px 0px 30px #E1E7ED;
}
.b2c-left-panel:hover{
    width: 230px;
}
.b2c-left-panel ul{
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}
.b2c-left-panel ul li{
    padding: 10px 0;
}
.b2c-left-panel ul li a{
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 9px;
    width: 38px;
    height: 38px; 
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.2s all ease-in-out;
    position: relative;
}
.b2c-left-panel ul li a.userimg{
    border-radius: 12px;
    border: 1px solid #485768;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 11px;
    position: relative;
}
.b2c-left-panel ul li a.userimg::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-right: 2px solid #485768;
    border-top: 2px solid #485768;
    transform: rotate(45deg) translateY(-50%);
    right: 15px;
    top: 50%;
    opacity: 0;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.2s all ease-in-out;
}
.b2c-left-panel:hover ul li a.userimg::after{
    opacity: 1;
}
.b2c-left-panel ul li a.userimg span{
    position: absolute;
    left: 10px;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%);
    font: 700 14px "Mulish";
    color: #485768;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.b2c-left-panel ul li a span{
    position: absolute;
    left: 42px;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    font: 700 14px "Mulish";
    color: #485768;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    white-space:nowrap;
}
.b2c-left-panel:hover ul li a{
    width: 100%;
}
.b2c-left-panel:hover ul li a.userimg{
    width: 100%;
}
.b2c-left-panel:hover ul li a span{
    opacity: 1;
    visibility: visible;
}
.b2c-left-panel:hover ul li a.userimg span{
    opacity: 1;
}
.b2c-left-panel:hover ul li a.userimg svg{
    opacity: 0;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.2s all ease-in-out;
}
.b2c-left-panel ul li a.active-menu{
    background: #009DE9;
}
.b2c-left-panel:hover ul li a.active-menu,.b2c-left-panel ul li a:hover{
    background: #FFFFFF;
    box-shadow: 0px 0px 30px #cfd8e2;
}
.b2c-left-panel:hover ul li a.active-menu span,.b2c-left-panel ul li a:hover span {
    color: #1D242F;
}
.b2c-left-panel ul li a svg path{
    stroke: #485768;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.2s all ease-in-out;
}
.b2c-left-panel ul li .card-box svg path.strokenone{
    stroke: none;
}
.b2c-left-panel ul li a.active-menu svg path{
    stroke: #fff;
}
.b2c-left-panel:hover ul li a.active-menu svg path{
    stroke: #009DE9;
}
.b2c-left-panel ul li a:hover svg path{
    stroke: #009DE9;
}
.b2c-left-panel ul li a:hover svg .strokenone{
    stroke: #4FBBEF;
}
.b2c-left-panel .profilepic{
    position: relative;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    padding-left: 2px;
    position: relative;
}
// .b2c-left-panel .profilepic::before{
//     content: '';
//     position: absolute;
//     width: calc(100% + 12px);
//     height: calc(100% + 12px);
//     background: url(/images/gray-ellipse.svg) no-repeat center;
//     background-size: 43px;
//     left: -4px;
//     top: -9px;
// }
// .b2c-left-panel .profilepic::after{
//     content: '';
//     position: absolute;
//     width: calc(100% + 12px);
//     height: calc(100% + 12px);
//     background: url(/images/violet-ellipse.svg) no-repeat center left;
//     background-size: 23px;
//     left: -2px;
//     top: -9px;
// }
.b2c-left-panel .profilepic img,
.b2c-left-panel .profilepic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -2px;
}

.b2c-left-panel::-webkit-scrollbar {
    width: 3px;
    display: none;
}
  
.b2c-left-panel::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.b2c-left-panel::-webkit-scrollbar-thumb {
    background: #9867e6;
    border-radius: 10px;  
}

.b2c-left-panel .logout{
    padding-top: 30px;
    border-top: 1px solid #dedede;
    display: block;
    margin-left: 0;
    text-align: left;
    padding-left: 9px;
    position: relative;
    white-space:nowrap;
}
.b2c-left-panel .logout span{
    position: absolute;
    left: 42px;
    top: 32px;
    opacity: 0;
    font: 700 1px "Mulish";
    color: #ED4A2A;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.2s all ease-in-out;
}
.b2c-left-panel:hover .logout span{
    opacity: 1;
    font: 700 14px "Mulish";
}

.leftmenu-info{
    width: 160px;
    padding-left: 12px;
    text-align: left;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-55%);
}
.leftmenu-info h4{
    font: 700 16px "Mulish";
    color: #485768;
    margin-bottom: 4px;
    white-space: nowrap;
}
.leftmenu-info p{
    font: 400 11px "Mulish";
    margin-bottom: 0;
    white-space: nowrap;
    color: #485768;
}